
.container{
    background: url('./img/backimg.jpg') 100% 100%;
    width:1350px;
    height:676px;
}

.sub-container{
    width:400px;
    height:300px;
    border:1px solid grey;
    text-align: center;
    top:50%;
    left:50%;
    position: absolute;
    transform:translate(-50%,-50%);
    background: rgba(6, 83, 102, 0.7)
}
h1{
    margin-bottom: 50px;
    color:#fff;
}
.inputs{
    width:200px;
    padding:5px 10px;
    font-weight: 600;
    border-radius: 50px;
    margin-bottom: 3px

}
input[type=submit]{
    background: rgb(99, 160, 7);
    cursor: pointer;
    margin-top: 20px;
    color:#fff;
}
.errormsg {
    color:rgb(252, 248, 26);
   
} 